body{
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center ;
  gap: 10px
}

.box{
  background-color:tomato;
  width: 200px;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
} 

